body {
    background: white;

}

.header, h2, h3 {
    color: pink;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.header-content {
    font-size: 15px;
}

.features {
    color: pink;
}

.features-items {
    color: black;
}

.reviews {
    color: pink;
}

body {
    margin: 10px auto;
    text-align: left;
}













































